@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr [ingredient-area-start] 200px [ingredient-area-end] 200px [recipes-area-start] 2fr [recipes-area-end] 1fr;
	padding: 1rem;
}

.todo-list {
	display: grid;
	grid-area: ingredient-area;
	width: 100%;
}

.recipe-list {
	display: grid;
	grid-area: recipes-area;
	width: 100%;
}

.todo-items {
	padding-top: 1rem;
}

.todo-items li {
	margin-block: 0.2rem;
	display: flex;
	align-items: center;
}

.todo-input {
	display: grid;
	align-items: center;
	max-height: 500px;
}

.todo-input,
.todo-items {
	width: 100%;
}

.recipe-card {
	margin-top: 1rem;
	border: 1px solid #ffffff;
	color: #ffffff;
	height: 200px;
	width: 200px;
	margin-inline: 0.4rem;
	font-size: 0.8rem;
}

.recipe-info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: #595959a7;
	height: 100%;
}

.flex-items {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
	padding: 0;
}

input {
	border: 1px solid #ffffff;
	padding: 10px;
	margin-block: 1rem;
}

button {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.btn-success {
	background-color: #369f36;
}

.btn-default {
	background-color: #949494;
}

.btn-close {
	background-color: transparent;
	color: #242424;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	.recipe-card {
		border: 1px solid #242424;
	}
	input {
		border: 1px solid #242424;
	}
}
